<div class="row">
    <div class="col-auto">
        <h2>Welcome back, {{username}}</h2>   
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
    <h3>Create a New Question:</h3>
        
    <form class="form new-question-form">
        <div class="form-group">
            <label for="topic">What topic is your question about? Select from the drop down:</label>
            <select id="topic" class="form-input"name="topic">
                <option value="HTML" >HTML</option>
                <option value="CSS" >CSS</option>
                <option value="JavaScript" >JavaScript</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="question-content">What is the question?</label>
            <textarea class="form-input" id="question-content" name="question-content"></textarea>
        </div>
        <div class="form-group">
            <label for="answer-1">Answer option #1:</label>
            <input class="form-input" type="text" id="answer-1" name="answer-1"/>
            <p>Is this the correct answer?</p>
            {{!-- <input type="radio" id="answer-1 correct" name="answer-1 correct" value="correct">
            <label for="correct">Yes</label><br>
            <input type="radio" id="answer-1 incorrect" name="answer-1 incorrect" value="incorrect">
            <label for="correct">No</label><br> --}}
            <select id="answer-input-1" class="answer-input"name="answer-input">
                <option value="1" style="color: white">Yes</option>
                <option value="0" style="color: white">No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="answer-2">Answer option #2:</label>
            <input class="form-input" type="text" id="answer-2" name="answer-2"/>
            <p>Is this answer correct?</p>
            <select id="answer-input-2" class="answer-input"name="answer-input">
                <option value="1" style="color: white">Yes</option>
                <option value="0" style="color: white">No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="answer-3">Answer option #3:</label>
            <input class="form-input" type="text" id="answer-3" name="answer-3"/>
            <p>Is this answer correct?</p>
            <select id="answer-input-3" class="answer-input"name="answer-input">
                <option value="1" style="color: white">Yes</option>
                <option value="0" style="color: white">No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="answer-4">Answer option #4:</label>
            <input class="form-input" type="text" id="answer-4" name="answer-4"/>
            <p>Is this answer correct?</p>
            <select id="answer-input-4" class="answer-input"name="answer-input">
                <option value="1" style="color: white">Yes</option>
                <option value="0" style="color: white">No</option>
            </select>
        </div>
        <div class="form-group" id="btn-create">
            <button type="submit" id= "btn-create" class="btn btn-create">Create a New Question</button>
        </div>
    </form>
</div>

{{!-- use project.js in mini project as a model for creating db questions --}}
{{#if questions.length}}
<div class="col question-list">
    <h3>Questions you submitted:</h3>

    {{#each questions as |question|}}
        <div class="row">
            <div class="col">
                <h4><a href="/question/{{question.id}}" style="color: white">{{question.content}}</a></h4>
            </div>
            {{!-- <div class="col">
                <button class="btn btn-delete" data-id="{{question.id}}">DELETE</button>
            </div> --}}
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src="/js/question.js"></script>