

<div>
  <h3>Enter your coding tip below:</h3>

  <div class="col">
    <form class="form new-tip">
      <p>Please enter the title of your tip here:</p>
      

      <div class="form-group">
            <button type="submit" class="btn btn-create">Create</button>
      </div>
    </form>
</div>




</div>