li {
  list-style-type: none;
}

h1 {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-size: xx-large;
}

h2 {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-size: x-large;
}

h3 {
  font-family: "Orbitron", sans-serif;
  color: green;
  font-size: medium;
}


h4,
h5,
h6 {
  font-family: "Orbitron", sans-serif;
  color: white;
}

p {
  color: white;
}

nav {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-size: 20px;
}

.unicorn {
  font-family: "Orbitron", sans-serif;
  color: grey;
  font-size: x-small;
}

.form-group {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 20px;
}

.form-input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: white;
  color: black;;
}

/* .btn-create {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: white;
  color: black;
  margin: 20px;
} */

button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: white;
  color: black;
} 

.question-list {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

#question-content {
  display: flex;
  align-items: center;
}

.answer-input,
#username-input-login,
#password-input-login,
#login-btn,
#username-input-signup,
#password-input-signup,
#signup-btn,
#btn-create {
  background-color: white;
  color: black;
}
